Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Prototype_tester/nbproject/private/
/Prototype_tester/build/
/Prototype_tester/dist/
/Prototype/dist/
/Prototype_Lab25.03/nbproject/private/
/Prototype_Lab25.03/build/
/prototype_version2/nbproject/private/
/prototype_version2/build/
